RewriteEngine on
RewriteBase /jobsheet5/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home/?$ views/home/index.php?page=$1 [L]

# BUAT MAHASISWA 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^mahasiswa/?$ views/mahasiswa/index.php?page=$1 [L]

# BUAT EDIT, TAMBAH, HAPUS, PROSES MAHASISWA
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^tambahMahasiswa/?$ views/mahasiswa/tambah.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^editMahasiswa/(\d+)/?$ views/mahasiswa/edit.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^hapusMahasiswa/(\d+)/?$ views/mahasiswa/hapus.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^prosesMahasiswa/?$ views/mahasiswa/proses_tambah.php?page=$1 [L]

# BUAT DOSEN
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^dosen/?$ views/dosen/index.php?page=$1 [L]

# BUAT EDIT, TAMBAH, HAPUS PROSES DOSEN
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^tambahDosen/?$ views/dosen/tambah.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^editDosen/(\d+)/?$ views/dosen/edit.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^hapusDosen/(\d+)/?$ views/dosen/hapus.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^prosesDosen/?$ views/dosen/proses_tambah.php?page=$1 [L]